.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; /* Para un desplazamiento suave */
    gap: 10px; /* Espacio entre productos */
    width: 100%; /* Asegúrate de que el slider ocupe todo el ancho disponible */
}

.product-item {
    flex: 0 0 calc(20% - 20px); /* 5 productos por fila (20% cada uno) con un margen de 10px */
    margin: 10px;
    box-sizing: border-box; /* Incluir padding y margen en el cálculo del ancho */
}

/* Dispositivos medianos (tablets) */
@media (max-width: 768px) {
    .product-item {
        flex: 0 0 calc(33.33% - 20px); /* 3 productos por fila en tablets */
    }
}

/* Dispositivos pequeños (móviles) */
@media (max-width: 480px) {
    #product-slider {
        flex-wrap: nowrap; /* Evitar el wrap en móviles, mantener el scroll horizontal */
    }
    
    .product-item {
        flex: 0 0 calc(100% - 20px); /* 1 producto por fila en móviles */
    }
}

#slider-controls {
    margin-top: 20px;
}

#slider-controls button {
    background-color: #ff007b;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#slider-controls button:hover {
    background-color: #b30057;
    transform: translateY(-2px);
}

#slider-controls button:active {
    transform: translateY(0);
}
