.products-container {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Para que el slider y los botones estén en columnas */
    align-items: center; /* Centrar elementos en el eje horizontal */
}

#product-slider {
    display: flex; /* Para mostrar los productos en una fila */
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
}

.product-item { /* Asegúrate de tener esta clase para los productos */
    flex: 0 0 auto; /* Los productos no se encogerán ni se expandirán */
    margin: 10px; /* Espacio entre productos */
    /* Añade más estilos según sea necesario, como ancho, alto, etc. */
}

#slider-controls {
    margin-top: 20px; /* Espacio por encima de los botones */
}

#slider-controls {
    margin-top: 20px; /* Espacio por encima de los botones */
}

#slider-controls button {
    background-color: #ff007b; /* Color de fondo azul */
    color: #FFFFFF; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.2s; /* Efecto de transición */
}

#slider-controls button:hover {
    background-color: #b30057; /* Color de fondo azul más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Levantar el botón ligeramente al pasar el mouse */
}

#slider-controls button:active {
    transform: translateY(0); /* Regresar a la posición original al hacer clic */
}
